@model IEnumerable<Database.Models.Product>

<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">產品管理</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">

                            <p>
                                @Html.ActionLink("新增產品", "Create", "AddProduct")
                            </p>

                            <thead>

                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Picture)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalesPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>

                                    <th>列表功能</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr onclick="location.href = '@Url.Action("Details", "Products", new { id = item.ProductID })'">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @if (item.Picture != null)
                                            {
                                                <img src="@item.Picture.Split(',')[0]" alt="Alternate Text" style="width:50px;height:50px;" />

                                                @*foreach (var address in item.Picture.Split(','))

                                                    {
                                                        // 這個是多張圖片顯示foreach
                                                    }

                                                      // 上傳單張圖片單張 方法1.本機端
                                                      if (item.Picture.Substring(item.Picture.Length - 3, 3) == "jpg")
                                                           {
                                                            <img src="@item.Picture" alt="Alternate Text" style="width:100px;height:100px;" />
                                                           }
                                                      else
                                                           {
                                                             <video width="300" height="300" controls>
                                                             <source src="@Url.Content("~/Photo/Product/" + item.Picture)" type=video/mp4 />
                                                             </video>
                                                           }*@
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Photos/1574835328175.jpg")" alt="Alternate Text" style="width:90%;height:100px;" />
                                            }
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalesPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                           
                                            @Html.ActionLink("編輯", "Edit", new { id = item.ProductID }, new { @class = "" }) 

                                            @Html.ActionLink("刪除", "Delete", new { id = item.ProductID }, new { @class = "" })

                                            @Html.ActionLink("上下架", "recall", new { id = item.ProductID }, new { @class = "btn-btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div><!-- .animated -->
                </div><!-- .content -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
            $("#cancel").click(function (e) {
                $(".htesxt").html("");
            });
        });
    </script>
}
@section topCSS{
    <style>
    th{
    text-align:center;
    width:10%;
    }
    /*td a:nth-child(1){
        color:
    }
     td a:nth-child(2){
        color:
    }
      td a:nth-child(3){
        color:
    }
     .container{
         background-color:aqua;
     }*/
    </style>
}
