@*商品結帳區域*@

@model DotrA_001.Models.ShopCartOrderView
@{

}

<div class="container">
    <div id="css-table" class="css-table">
        <div class="thead">
            <div class="tr">
                <div class="th"></div>
                <div class="th"></div>
                <div class="th">Product</div>
                <div class="th">Price</div>
                <div class="th">Quantity</div>
                <div class="th">Total</div>
            </div>
        </div>
        <br />
        <div class="tbody">
           
                <div class="tr">
                    <div class="td"><a href="#"><span class="ion-ios-close"></span></a></div>
                    <div class="td"><img src="@Model.Picture" width="50" height="50" /></div>
                    <div class="td">@pd.ProductName</div>
                    <div class="td"> @pd.Price</div>
                    <div class="td">@pd.Quantity</div>
                    <div class="td"> @pd.Total</div>
                </div>
           
        </div>
    </div>
</div>