@model DotrA_001.Models.ShopCartOrderView
@{
    ViewBag.Title = "精品說明";
}
@Html.Partial("_Topimage")

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="#" class=""><img src="@Model.Picture" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@Model.ProductName</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>$@Model.Price.00</span></p>
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row" id="ShopDescriptionoverflow">
                        @foreach (var item in Model.Picture.Split(','))
                        {
                            <a href="@item" class="gallery image-popup img d-flex align-items-center" style="width:20%;height:100px;background-image: url(@item);">                        </a>
                        }
                    </div>  
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="text-align:center">
                    <a onclick="AddToCart('@Model.ProductId')" href="javascript:void(0);" class="btn btn-black py-3 px-5 ">Add to Cart</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("BUY NOW", "Index", "ShoppingCar", new { memberid = ((System.Security.Claims.ClaimsIdentity)User.Identity).RoleClaimType, productid = Model.ProductId }, new { @class = "btn btn-primary py-3 px-5" })
                    }
                </div>
            </div>
        </div>
    </div>

</section>
@section topCSS{
    <style>

        #ShopDescriptionoverflow{
            height:100px;
            width:105%;

        overflow-x : hidden;
        overflow-y: hidden;
        }

    </style>
    }
