@model IEnumerable<Database.Models.Category>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">類型管理</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">

                            <p>
                                @Html.ActionLink("新增類型", "Create", new { @class = "btn btn-default" })
                            </p>

                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Picture)
                                </th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Picture)
                                        </td>


                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }</tbody>
                         </table>
                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript">
        $(document).ready(function () {   
            $('#bootstrap-data-table-export').DataTable();
            $("#cancel").click(function (e) {
                $(".htesxt").html("");

            });
        });
    </script>

}


