@model IEnumerable<BackEndSystem.Models.ViewModel.MemberIndex>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">會員管理</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.MemberID)</th>
                                    <th>@Html.DisplayNameFor(m => m.MemberAccount)</th>
                                    <th>@Html.DisplayNameFor(m => m.MemberName)</th>
                                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                                    <th>@Html.DisplayNameFor(m => m.Address)</th>
                                    <th>@Html.DisplayNameFor(m => m.Phone)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                    if (User.Identity.Name == "admin")
                                    {
                                        <tr onclick="location.href = '@Url.Action("Edit", "Members", new { id = m.MemberID })'">
                                            <td>@Html.DisplayFor(x => m.MemberID)</td>
                                            <td>@Html.DisplayFor(x => m.MemberAccount)</td>
                                            <td>@Html.DisplayFor(x => m.MemberName)</td>
                                            <td>@Html.DisplayFor(x => m.Email)</td>
                                            <td>@Html.DisplayFor(x => m.Address)</td>
                                            <td>@Html.DisplayFor(x => m.Phone)</td>
                                        </tr>
                                    }
                                    else
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(x => m.MemberID)</td>
                                        <td>@Html.DisplayFor(x => m.MemberAccount)</td>
                                        <td>@Html.DisplayFor(x => m.MemberName)</td>
                                        <td>@Html.DisplayFor(x => m.Email)</td>
                                        <td>@Html.DisplayFor(x => m.Address)</td>
                                        <td>@Html.DisplayFor(x => m.Phone)</td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@section scripts{

    @Scripts.Render("~/bundles/datatable")

    @*<script type="text/javascript">
        jQuery(document).ready(function () {
               $('tr').click(function () {
            if ('@User.Identity.Name' == 'admin') {
                location.href = "@Url.Action("Edit", "Members")/" + $(this).attr('id');
            }
        })
        });
    </script>*@
}
