@model IEnumerable<BackEndSystem.Models.Members>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">會員管理</strong>
                    </div>
                    <div class="card-body">
                        @*@if (User.Identity.Name == "admin")
                            {
                                <p>
                                    @Html.ActionLink("新增會員", "Create")
                                </p>
                            }*@
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.MemberID)</th>
                                    <th>@Html.DisplayNameFor(m => m.MemberAccount)</th>
                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                                    <th>@Html.DisplayNameFor(m => m.Address)</th>
                                    <th>@Html.DisplayNameFor(m => m.Phone)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model)
                                {
                                    /*if (User.Identity.Name == "admin")
                                    {
                                        <tr onclick="location.href = '@Url.Action("Edit", "Members", new { id = m.MemberID })'">
                                            <td>@Html.DisplayFor(x => m.MemberID)</td>
                                            <td>@Html.DisplayFor(x => m.MemberAccount)</td>
                                            <td>@Html.DisplayFor(x => m.Name)</td>
                                            <td>@Html.DisplayFor(x => m.Email)</td>
                                            <td>@Html.DisplayFor(x => m.Address)</td>
                                            <td>@Html.DisplayFor(x => m.Phone)</td>

                                        </tr>
                                    }*/
                                    //else
                                    //{
                                    <tr id="@m.MemberID">
                                        <td>@Html.DisplayFor(x => m.MemberID)</td>
                                        <td>@Html.DisplayFor(x => m.MemberAccount)</td>
                                        <td>@Html.DisplayFor(x => m.Name)</td>
                                        <td>@Html.DisplayFor(x => m.Email)</td>
                                        <td>@Html.DisplayFor(x => m.Address)</td>
                                        <td>@Html.DisplayFor(x => m.Phone)</td>

                                    </tr>
                                    //}
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@section scripts{

    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>*@


    <script type="text/javascript">
        $(document).ready(function () {
               $('tr').click(function () {
            if ('@User.Identity.Name' == 'admin') {
                location.href = "@Url.Action("Edit", "Members")/" + $(this).attr('id');
            }
        })
        });
    </script>
    @Scripts.Render("~/bundles/datatable")

}
