<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">*@
    <style type="text/css">
        .text-center {
            font-family: 'Microsoft JhengHei' !important;
            font-weight: 900;
        }

        @@media (min-width: 990px) {
            .home-tag {
                position: relative;
            }

                .home-tag > :before {
                    content: '';
                    width: 10px;
                    bottom: 17px;
                    position: absolute;
                    right: 60px;
                    transition: 0.7s all;
                }

                .home-tag > :hover:before {
                    border-bottom: 2px solid #313131;
                    right: 15px;
                    width: 50px;
                }
        }
        .imgtag img{
            width:200px;
            height:50px;
        }
    </style>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Assets/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    <link href="~/Assets/css/Glow.css" rel="stylesheet" />
    <link href="~/Assets/css/LoginStyle.css" rel="stylesheet" />
</head>
<body class="goto-here">
    @Html.Partial("_navbar")



    @RenderBody()

    @Html.Partial("_footer")

    <div id="ftco-loader" class="show fullscreen">
        @*<svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
            </svg>*@
        <svg class="circular" width="36" height="36" viewBox="0 0 36 36">
            <path fill="#34A853" d="M16 16v14h4V20z"></path>
            <path fill="#4285F4" d="M30 16H20l-4 4h14z"></path>
            <path fill="#FBBC05" d="M6 16v4h10l4-4z"></path>
            <path fill="#EA4335" d="M20 16V6h-4v14z"></path>
            <path fill="none" d="M0 0h36v36H0z"></path>
        </svg>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Assets/js")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
