<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .text-center {
            font-family: 'Microsoft JhengHei' !important;
            font-weight: 900;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="~/Assets/css/aos.css" rel="stylesheet" />
    <link href="~/Assets/css/animate.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-datepicker.css" rel="stylesheet" />
    @*<link href="~/Assets/css/flaticon.css" rel="stylesheet" />*@
    <link href="~/Assets/css/icomoon.css" rel="stylesheet" />
    <link href="~/Assets/css/ionicons.min.css" rel="stylesheet" /> @*下方按鈕回到頂端*@
    @*<link href="~/Assets/css/jquery.timepicker.css" rel="stylesheet" />*@
    @*<link href="~/Assets/css/magnific-popup.css" rel="stylesheet" />*@
    <link href="~/Assets/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Assets/css/owl.carousel.min.css" rel="stylesheet" />*@
    <link href="~/Assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Assets/js")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body class="goto-here">
    @Html.Partial("_navbar")
    
    @RenderBody()

    @Html.Partial("_footer")
    
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
