<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">*@
    <style type="text/css">
        .text-center,body,.hero-wrap {
            font-family: 'Microsoft JhengHei' !important;
            font-weight: 900;
        }

        @@media (min-width: 990px) {
            .home-tag {
                position: relative;
            }

                .home-tag > :before {
                    content: '';
                    width: 1px;
                    bottom: 17px;
                    position: absolute;
                    right: 60px;
                    transition: 0.7s all;
                }

                .home-tag > :hover:before {
                    border-bottom: 2px solid #313131;
                    right: 15px;
                    width: 50px;
                }
        }
        .imgtag img{
            width:200px;
            height:50px;
        }
    </style>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Assets/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    <link href="~/Assets/css/Glow.css" rel="stylesheet" />
    <link href="~/Assets/css/LoginStyle.css" rel="stylesheet" />
</head>
<body class="goto-here">
    @Html.Partial("_navbar")



    @RenderBody()

    @Html.Partial("_footer")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Assets/js")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
