<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        @*@Html.ActionLink("LOGO", "Index", "Home", null, new { @class = "navbar-brand" })*@
        <a href='@Url.Action("Index", "Home")' class="imgtag">
            <img src='@Url.Content("~/Assets/images/logo.png")' />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item home-tag active">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item home-tag">@Html.ActionLink("Shop", "Index", "Shop", null, new { @class = "nav-link" })</li>
                <li class="nav-item home-tag">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                @*<li class="nav-item">@Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>*@
                @if (User.Identity.IsAuthenticated)
                //是否通過驗證 //User.Identity.IsAuthenticated、Request.IsAuthenticated
                {//User.Identity.Name 可擷取目前登入的使用者帳戶資訊
                    if (User.Identity is FormsIdentity)
                    {
                        @*<li class="nav-item">
                                @Html.ActionLink("HiHi!! " + @User.Identity.Name, "Edit", "Members", new { id = ((FormsIdentity)User.Identity).Ticket.UserData },
                                htmlAttributes: new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Members", null, new { @class = "nav-link" })</li>*@
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-users"></i>Account
                            </a>
                            <div class="dropdown-menu " aria-labelledby="dropdown04">
                                <a class="dropdown-item " href="@Url.Action("EditProfile","Members", new { id = ((FormsIdentity)User.Identity).Ticket.UserData })">Edit Profile</a>
                                <a class="dropdown-item "  href="@Url.Action("SelfOrder", "Members", new { id = ((FormsIdentity)User.Identity).Ticket.UserData })">Orders</a>
                                <a class="dropdown-item " href="@Url.Action("Logout","Members")">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("HiHi!! " + @User.Identity.Name, "EditProfile", "Members", null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">@Html.ActionLink("Logout", "GoogleLogout", "Members", null, new { @class = "nav-link" })</li>
                    }

                }
                else
                {
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users"></i>Register/Login
                        </a>
                        <div class="dropdown-menu " aria-labelledby="dropdown04">
                            <a class="dropdown-item " href="@Url.Action("Register","Members")">Register</a>
                            @*<a class="dropdown-item " href="@Url.Action("Login","Members")">Login</a>*@
                            <a class="dropdown-item " href="" data-toggle="modal" data-target="#LoginModal">Login</a>
                        </div>
                    </li>
                }
                @*<li class="nav-item cta cta-colored">
                    <a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a>
                </li>*@
            <li id="Cart" class="nav-item cta cta-colored dropdown">
                 @Html.Partial("_CartPartial")         
            </li>

            </ul>
        </div>
    </div>
</nav>
@if (!User.Identity.IsAuthenticated)
{
    <!-- Modal -->
    <div class="modal" id="LoginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">會員登入</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h7 class="text-danger"><i>@TempData["Message"]</i></h7>
                    @{Html.RenderPartial("LoginModal", new DotrA_001.Models.ViewModels.LoginVM());}
                </div>
                <div class="modal-footer justify-content-center">
                    <a class="btn " href="@Url.Action("Register","Members")"
                       role="button">Click To Register</a>
                </div>
            </div>
        </div>
    </div>
    if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            $('#LoginModal').modal('show');
        </script>
    }
}
