@model BackEndSystem.Models.ViewModel.OrderDetailVM
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">訂單明細</strong>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.OrderID)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.OrderID)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RecipientName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RecipientName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RecipientPhone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RecipientPhone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.RecipientAddress)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RecipientAddress)
                            </dd>
                        </dl>
                        <table>
                            <tr>
                                <th>@Html.DisplayNameFor(model => (new BackEndSystem.Models.ViewModel.OrderProductVM()).ProductName)</th>
                                <th>@Html.DisplayNameFor(model => (new BackEndSystem.Models.ViewModel.OrderProductVM()).Quantity)</th>
                                <th>@Html.DisplayNameFor(model => (new BackEndSystem.Models.ViewModel.OrderProductVM()).UnitPrice)</th>
                                <th>@Html.DisplayNameFor(model => (new BackEndSystem.Models.ViewModel.OrderProductVM()).Discount)</th>
                                <th>@Html.DisplayNameFor(model => (new BackEndSystem.Models.ViewModel.OrderProductVM()).SubTotal)</th>
                            </tr>
                            @foreach (var item in Model.OrderProducts)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    @*<td>@item.UnitPrice</td>*@
                                    @if (item.Discount == null)
                                    {
                                        <td>無</td>
                                    }
                                    else
                                    {
                                        <td>@item.Discount</td>
                                    }
                                    <td>@item.SubTotal</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
