@model IEnumerable<DotrADatabase.Models.Product>

@{
    ViewBag.Title = "Index";


}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.Image)" width="150" height="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*呼叫CartController裡的AddtoCart方法*@
            <td>

                @Ajax.ActionLink(linkText: "加到購物車", actionName: "AddtoCart", controllerName: "Cart",routeValues: new { id = item.ProductID }, ajaxOptions: new AjaxOptions { OnFailure = "fail", OnSuccess = "succ", HttpMethod = "GET" })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //假如成功的話
        function succ() {
            alert('加入購物車成功');
            location.reload();
        }
        function fail() {
            alert('fail');
        }
    </script>
}