@model DotrA_001.Models.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}

<section class="ftco-section bg-light">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="form-horizontal text-center">
                <form class="box">
                    <h4 class="text-center">會員登入</h4>
                    <hr />
                    <h5 class="text-danger"><i>@ViewBag.Message</i></h5>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group ">
                        @Html.LabelFor(model => model.MemberAccount, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.MemberAccount, new { htmlAttributes = new { @class = "form-control ", @placeholder = "請輸入帳號" } })
                            @Html.ValidationMessageFor(model => model.MemberAccount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "請輸入密碼" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            <div class="">
                                @Html.EditorFor(model => model.RememberMe)
                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn" />
                    </div>
                </form>
            </div>

            <div class="text-center">
                <a class="btn " href="@Url.Action("Register","Members")"
                   role="button">Click To Register</a>
                <a class="btn " href="@Url.Action("Index","Home")"
                   role="button">Back To Home</a>
                <a class="btn " href="@Url.Action("ForgotPassword","Members")"
                   role="button">Forgot Password</a>
            </div>

        </div>
    }
</section>
@section topCss{
    <link href="~/Assets/css/LoginStyle.css" rel="stylesheet" />
    <style>
          h4 {
            text-align: center;
        }

        .form-group {
            text-align: center;
        }
        /*輸入欄位CSS*/
        .form-control {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 1px solid #3498db;
            padding: 14px 10px;
            width: 240px;
            outline: none;
            color: aqua;
            border-radius: 24px;
            transition: 0.25s;
        }

            .form-control:focus {
                width: 320px;
                border: 3px solid;
                animation-name: Glow;
                animation-duration: 6s;
                animation-iteration-count: infinite;
            }

        @@-webkit-keyframes Glow {
            0% {
                border-color: #EA2027;
            }

            10% {
                border-color: #EE5A24;
            }

            20% {
                border-color: #FFC312;
            }

            30% {
                border-color: #C4E538;
            }

            40% {
                border-color: #009432;
            }

            50% {
                border-color: #0652DD;
            }

            60% {
                border-color: #12CBC4;
            }

            70% {
                border-color: #FDA7DF;
            }

            80% {
                border-color: #9980FA;
            }

            90% {
                border-color: #B53471;
            }

            100% {
                border-color: #6F1E51;
            }
        }
    </style>
}
@section endJS{
}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
