<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DotrA 後台管理系統</title>
    <meta name="description" content="DotrA 後台管理系統">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/assets/images/apple-touch-icon.ico">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)


</head>
<body>
    <!-- Left Panel -->
    @Html.Partial("_navbar")
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        @Html.Partial("_header")
        @RenderBody()
        <div class="clearfix"></div>
    </div>
    <!-- /#right-panel -->


    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)

</body>
</html>
