@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProductView>

@{
}

<div class="row">
    @*@if (ststus.Status== "上架")
        {*@
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex fadeInUp ftco-animated">
            <div class="product d-flex flex-column">
                <a href="@Url.Action("Index", "ShopDescription",new {productid = item.ProductID})" class="img-prod">
                    @if (item.Picture != null)
                    {
                    <div style="width:100%">
                        <div style="height: 0;padding-bottom: 100%;">
                            <img class="img-fluid" src="@item.Picture" alt="Colorlib Template">
                        </div>
                        <div class="overlay"></div>
                    </div>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Assets/images/img1.png")" alt="Alternate Text" style="width:30px;height:30px;" />
                    }
                </a>

                <div class="text py-3 pb-4 px-3">
                    <div class="d-flex">
                        <div class="cat">
                            <span>@item.CategoryName</span>
                        </div>
                        <div class="rating">
                            <p class="text-right mb-0">
                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                            </p>
                        </div>
                    </div>
                    <h3><a href="#">@item.ProductName</a></h3>
                    <div class="pricing">
                        <p class="price"><span>@item.SalesPrice 元</span></p>
                    </div>
                    <p class="bottom-area d-flex px-3">
                        <a onclick="AddToCart('@item.ProductID')" href="javascript:void(0);" role="button" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>

                        @*@Html.ActionLink("Buy now", "index", "ShoppingCar", null, new { @class = "buy-now text-center py-2 ion-ios-cart ml-1" })*@
                        @*購物車ActionLink*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action( "index","ShoppingCar" ,new {memberid= ((System.Security.Claims.ClaimsIdentity)User.Identity).RoleClaimType, productid = item.ProductID})" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }

</div>

<div class="row mt-5 ">
    <div class="col text-center">
        <div class="block-27">
            <ul>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </ul>
        </div>
    </div>
</div>