@model IEnumerable<ProductView>
@{
    ViewBag.Title = "Dotra Home";
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
                     data-scrollax-parent="true">

                    <img class="one-third order-md-last img-fluid" src="~/Assets/images/bg_3.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate"
                         data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#全新上市</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">冬季商品搶先上市</h1>
                                <p class="mb-4">
                                    出遊、上班想要好好休息只有頸枕還不夠！？
                                    小怪獸聽見您的心聲！推出這款「小怪獸帶帽記憶頸枕」
                                    不僅外型可愛，更有小怪獸系列一貫的貼心設計
                                    帶帽的設計不僅讓團友們睡覺不用怕被看見睡臉
                                    更可以遮光、遮風，讓我們可以安心、舒服的睡個好覺！
                                </p>
                                <p><a href="@Url.Action("Index","Shop")" class="btn-custom">Discover Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end"
                     data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="~/Assets/images/bg_4.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate"
                         data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#全新上市</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">冬季商品搶先上市</h1>
                                <p class="mb-4">
                                    「生理痛」是女人這一生中不能避免的苦
                                    為了生活、家庭我們不去抱怨，勇敢的挺過每一次疼痛
                                    女性朋友，辛苦了！
                                    『添糖』看見您的辛苦
                                    添個好糖吧。在您的健康、在您的心情、在您的生活。
                                    請慢下來吧,幫您的身、心、靈、補充臺灣特有的黑糖風味與在地的新鮮。
                                </p>

                                <p><a href="@Url.Action("Index","Shop")" class="btn-custom">Discover Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">免運費</h3>
                        <p>
                            只要消費滿$299即可享有台灣本島免運費及24小時快速到貨服務。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">24小時客服</h3>
                        <p>
                            若您在購物過程中遇到任何問題，我們設有24小時客戶服務，歡迎隨時私訊我們!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">安全交易</h3>
                        <p>
                            本網站上的所有交易及活動，包括「線上購物」「會員資料登錄」等都是為網路上所有使用者而制定的。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*商品區域*@
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">熱銷商品</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                    <div class="product d-flex flex-column">
                        <a href="@Url.Action("Index", "ShopDescription",new {productid = item.ProductID})" class="img-prod">
                            @if (item.Picture != null)
                            {
                                <img class="img-fluid" src="@item.Picture" alt="Colorlib Template">
                                <div class="overlay"></div>
                            }
                            else
                            {
                                <img src="@Url.Content("~/Assets/images/img1.png")" alt="Alternate Text" style="width:30px;height:30px;" />
                            }
                        </a>
                        <div class="text py-3 pb-4 px-3">
                            <div class="d-flex">
                                <div class="cat">
                                    <span>@item.CategoryName</span>
                                </div>
                                <div class="rating">
                                    <p class="text-right mb-0">
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    </p>
                                </div>
                            </div>
                            <h3><a href="#">@item.ProductName</a></h3>
                            <div class="pricing">
                                <p class="price"><span>@item.SalesPrice</span></p>
                            </div>
                            <p class="bottom-area d-flex px-3">
                                <a onclick="AddToCart('@item.ProductID')" href="javascript:void(0);" role="button" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                <a href="@Url.Action("index", "ShoppingCar", new { memberid = ((FormsIdentity)User.Identity).Ticket.UserData, productid = item.ProductID })" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                            </p>
                        </div>
                    </div>
                </div>

            }
            </div>
    </div>
</section>
<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="choose-wrap divider-one img p-5 d-flex align-items-end"
                     style="background-image: url(../../Assets/images/choose-4.jpg);">
                    <div class="text text-center px-2">
                        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                        <p><a href="@Url.Action("Index","Shop")" class="btn btn-outline-light px-3 py-2">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row no-gutters choose-wrap divider-two align-items-stretch">
                    <div class="col-md-12">
                        <div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end"
                             style="background-image: url(../../Assets/images/choose-5.png);">
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="text   px-5">
                                    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                                    <p><a href="@Url.Action("Index","Shop")" class="btn btn-outline-light px-3 py-2">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center" >
                                    <div class="text text-center px-5">
                                        <span class="subheading">售完不補趕緊手刀搶購!!!</span>
                                        <h2>冬季商品全新上架</h2>
                                        @*<p>
                                            Separated they live in Bookmarksgrove right at the coast of the
                                            Semantics, a large language ocean.
                                        </p>*@
                                        <p><a href="@Url.Action("Index","Shop")" class="btn btn-outline-light px-3 py-2">Shop now</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
                                     style="background-image: url(../../Assets/images/choose-6.jpg);">
                                    <div class="text text-center   px-5">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><a href="@Url.Action("Index","Shop")" class="btn btn-outline-light px-3 py-2">Shop now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="ftco-section ftco-deal bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Assets/images/prod-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <div class="heading-section heading-section-white">
                    <span class="subheading">Deal of the month</span>
                    <h2 class="mb-3">Deal of the month</h2>
                </div>
                <div id="timer" class="d-flex mb-4">
                    <div class="time" id="days"></div>
                    <div class="time pl-4" id="hours"></div>
                    <div class="time pl-4" id="minutes"></div>
                    <div class="time pl-4" id="seconds"></div>
                </div>
                <div class="text-deal">
                    <h2><a href="#">Nike Free RN 2019 iD</a></h2>
                    <p class="price">
                        <span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span>
                    </p>
                    <ul class="thumb-deal d-flex mt-4">
                        <li class="img" style="background-image: url(../../Assets/images/product-6.png);"></li>
                        <li class="img" style="background-image: url(../../Assets/images/product-2.png);"></li>
                        <li class="img" style="background-image: url(../../Assets/images/product-4.png);"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="services-flow">
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-bag"></span>
                        </div>
                        <div class="text">
                            <h3>免運費</h3>
                            <p class="mb-0">只要消費滿$299即可享有台灣本島免運費及24小時快速到貨服務。</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-heart-box"></span>
                        </div>
                        <div class="text">
                            <h3>
                                禮品包裝
                            </h3>
                            <p class="mb-0">
                                我們提供禮品包裝服務，只要在購買時勾選加購，您想送禮的對象便可收到您選購的精緻禮品。
                            </p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-payment-security"></span>
                        </div>
                        <div class="text">
                            <h3>安全交易</h3>
                            <p class="mb-0">本網站上的所有交易及活動，包括「線上購物」「會員資料登錄」等都是為網路上所有使用者而制定的。</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="text">
                            <h3>24小時客服</h3>
                            <p class="mb-0">若您在購物過程中遇到任何問題，我們設有24小時客戶服務，歡迎隨時私訊我們!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="heading-section ftco-animate mb-5">
                    <h2 class="mb-4">品牌介紹</h2>
                    @*<p>
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in
                        </p>*@
                </div>
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url(../../Assets/images/person_6.png)">
                                @*<span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>*@
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">
                                    本公司Lexington Limited 於 1989 在香港成立,
                                    專營各類高品質矽膠製品, 為世界各國消費者提供優質的矽膠產品｡ 另外, 本公司擁有獨立的產品開發團隊, 並與美國,歐洲, 香港等地世界知名的設計公司合作, 專注於時尚, 新穎, 創新和實用的高級矽膠產品開發｡ 創建的品牌 Lexngo, Lexnfant 和 Lexliving 涵蓋戶外, 兒童, 寵物和廚具等日常用品為滿足現代人品味生活的需求｡

                                </p>
                                @*<p class="name">Lexnfant</p>*@
                                @*<span class="position">Marketing Manager</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url(../../Assets/images/person_7.png)">
                                @*<span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>*@
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">
                                    iGimmick將日常用品開發成色彩繽紛但頭的設計。iGimmick的品牌涵蓋了廣泛的產品，例如行李帶，緊湊型零食盒和杯子，餅乾模具和紙杯蛋糕展示
                                    ，智能手機藍牙揚聲器，零花時尚腰帶，派對用具，兒童安全卡扣帶，兒童繪圖板，野餐手提箱，磁性電子備忘錄相框等。iGimmick將繼續發展並滿足每個人的需求。
                                </p>
                                @*<p class="name">Garreth Smith</p>
                                    <span class="position">Interface Designer</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url(../../Assets/images/person_8.jpg)">
                                @*<span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>*@
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">
                                    「讓我做一場小小的白日夢，我會親吻它、呵護它。」
                                    Dreamkiss 品牌成立於2017，
                                    跟妳分享細緻的生活居家配件與衣著。
                                    讓妳在忙碌的日子裡，
                                    能找到一個如棉花般輕柔、舒適的小空間，
                                    做一場屬於自己的美夢。
                                    Dear,
                                    See you in your dream.
                                </p>
                                @*<p class="name">Garreth Smith</p>
                                    <span class="position">UI Designer</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url(../../Assets/images/person_9.jpg)">
                                @*<span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>*@
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">
                                    旅行是一種美學。
                                    除了與美景邂逅，還會遇見最美的自己。
                                    m square 旅行美學
                                    一路隨行，把美好裝進每一段記憶。
                                </p>
                                @*<p class="name">Garreth Smith</p>
                                    <span class="position">Web Developer</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url(../../Assets/images/person_10.png)">
                                @*<span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>*@
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">
                                    因為愛吃從設計領域跨足爆米花界闖蕩，透過爆米花帶來歡樂和療癒，
                                    更因為熱心公益，聘用宜蘭在地二度、單親、低收、可愛的媽媽們一同兼顧食安與美味的爆米花，
                                    騎士精神給你最好的鼓勵(榖粒)。
                                </p>
                                @*<p class="name">Garreth Smith</p>
                                    <span class="position">System Analyst</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section topCSS{
    <style>
        .text {
            font-family: 'Microsoft JhengHei' !important;
            font-weight: 900;
        }
    </style>
    }
